<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	
	<div id="content">
		<h1>Mr. Bacon</h1>
		<p>Bacon ipsum dolor amet capicola pork chop ribeye swine tri-tip. Cow ball tip jowl, burgdoggen tail biltong ground round spare ribs ham hock turkey pig. Beef ribs short loin pork doner ham hock jerky pork chop. Picanha t-bone pork belly alcatra turkey doner buffalo drumstick jowl short ribs. Spare ribs beef pork loin tongue beef ribs picanha short ribs fatback meatball pork chop pork kielbasa hamburger jerky pastrami. Ground round biltong rump tail frankfurter tri-tip boudin picanha ribeye ham hock cupim. Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>

	</div>

</div>